* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .rotation-chart {
        width: 100% !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .test-main {
        width: 100%;
    }
    .next-button button,.last-button button {
        width: 2rem;
        height: 0.7rem;
        border-radius: 0.2rem;
    }

    table td:nth-child(odd) {
        width: 70% !important;
    }

    table td:nth-child(even){
        width: 35% !important;
    }
    .head_login .login_bu1 {
        width: 2rem!important;
        height: 0.7rem!important;
        line-height: 0.7rem!important;
        font-size: 0.4rem!important;
        letter-spacing: 0.1rem!important;
    }
    .head_login .return_bu2 {
        width: 2rem!important;
        height: 0.7rem!important;
        line-height: 0.7rem!important;
        font-size: 0.4rem!important;
        letter-spacing: 0.1rem!important;
    }
}

.container {
    width: 100%;
}

header {
    padding-bottom: 0.4rem;
}

.head_img {
    padding-top: 0.1rem;
    padding-left: 0.4rem;
    height: 0.9rem;
}

.head_img img {
    max-height: 100%;
}

.head_login {
    padding-top: 0.2rem;
    padding-right: 0.3rem;
    text-align: right;
}

.head_login .login_bu1 {
    width: 1.5rem;
    height: 0.6rem;
    color: #Ffffff;
    background: #86B4EE;
    outline: none;
    border: 1px solid #86B4EE;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 0.23rem;
    border-radius: 0.1rem;
}

.head_login .return_bu2 {
    width: 1.5rem;
    height: 0.6rem;
    color: #Ffffff;
    background-color: #c0d8f6;
    outline: none;
    border: 1px solid #c0d8f6;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 0.23rem;
    border-radius: 0.1rem;
    display: none;
}

.test-middle {
    width: 80%;
    background: #ffffff;
    margin: 0.2rem auto 2rem;
}

table {
    margin-bottom: 0.7rem;
    width: 100%;
}

table thead tr {
    height: 0.6rem;
    width: 100%;
    background: #f2f5f9;
    border: 0.03rem solid #dfdfdf;
    font-size: 0.22rem;
}

table tbody tr:nth-child(odd){
    height: 0.6rem;
    width: 100%;
    background: #ffffff;
    border-right: 0.03rem solid #dfdfdf;
    border-left: 0.03rem solid #dfdfdf;
}

table tbody tr:nth-child(even){
    height: 0.6rem;
    width: 100%;
    background: #ffffff;
    border: 0.03rem solid #dfdfdf;
}

th {
    width: 50%;
    text-align: center;
    font-size: 0.2rem;
}

td {
    width: 50%;
    text-align: center;
    font-size: 0.18rem;
}

table tbody .tr_b {
    background: #F2F5F9!important;
    border-bottom: 0.03rem solid #dfdfdf;
}

.tr_b td {
    font-weight: 600;
}

.tr_b span {
    display: block;
    width: 0.8rem;
    height: 0.4rem;
    background: #ffffff;
    margin: 0 auto;
    line-height: 0.4rem;
    text-align: center;
}